{% macro render(params) %}
  {% set url = pod.doc(params.link.doc.podPath, doc.locale).url.path if params.link.doc else params.link.url %}

  <a 
    href="{{url}}"  
    {% if params.classes %} 
      class="{% for class in params.classes %}{{class}}{% endfor %}"
    {% endif %}
    {% if target == '_blank' %}
     target="_blank" 
     rel="noopener noreferrer"
    {% endif %}
  >{{params.label | safe}}</a>
{% endmacro %}
